.inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 80%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;

}

/* =============================================================
Sign Up SECTION STYLES
============================================================ */
#signup{
	width: 50%;
	border-style: solid;
	border-width: 2px;
	float: left;
	background-color: rgb(255,255,255,0.9);
}


/* =============================================================
Sign In SECTION STYLES
============================================================ */
#signin{
	width: 50%;
	border-style: solid;
	border-width: 2px;
	float: right;
	background-color: rgb(255,255,255,0.9);
}
/* =============================================================
login panel STYLES
============================================================ */
#grad {
    background: #585858; /* For browsers that do not support gradients */
}

body {
	padding-top: 50px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

#searchDiv {
	background-color: #262626;
	background-image: url('../img/bk_magnifyingglass.png');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#aboutDiv {
	background: #595959;
}

#APIDiv {
	background: #262626;
}

#frmSearch {
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-group, .input-group {
	width: 100%;
}

.tooltip.top .tooltip-inner {
	background-color: #3399ff;
}

.tooltip.top .tooltip-arrow {
	display: none;
}

#searchDesc {
	width: 70%;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#searchDesc h1 {
	font-size: 6em;
	margin-bottom: -10px;
}

#resultDiv {
	width: 70%;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.panel-image img.panel-image-preview {
    width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-body {
	padding: 0px;
}